# Bytecode & Python cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# System files
.DS_Store

# Logs
*.log

# Editor configs
.vscode/
.idea/

# Data folders and notebooks
data/raw/
data/schemas/
notebooks/
tests/
models/checkpoints/

# Git and deployment artifacts
.git/
deployment/
