fastapi==0.115.14
uvicorn==0.35.0
pydantic==2.11.7
pydantic_core==2.33.2
numpy==1.23.5
pandas==2.3.0
scikit-learn==1.6.1
requests==2.32.4
python-dotenv==1.1.1
thefuzz==0.22.1
RapidFuzz==3.13.0
tensorflow-cpu==2.10.0
tensorflow-hub==0.16.1
h5py==3.14.0  # only if your API loads .h5 model
