pandas>=1.5.3
numpy>=1.24.4
tensorflow>=2.12.0
scikit-learn>=1.2.2
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.20.11
networkx>=3.5
uvicorn>=0.22.0
fastapi>=0.95.2
tensorflow-text==2.16.1
tensorflow-hub>=0.13.0
python-multipart>=0.0.6
pyarrow>=12.0.1
pydantic>=1.10.12
thefuzz[speedup]>=0.19.1
